* {
  margin: 0;
  padding: 0;
  font-family: "montserrat", sans-serif;
}

.backbody {
  background: linear-gradient(#ff7979 20%, #000 80%);
}

.page-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 100%;
  max-width: 800px;
  text-align: center;
  padding: 0 40px;
  box-sizing: border-box;
}

.page-content h1 {
  color: #ff7979;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 20px;
}

.page-content h2 {
  color: #ff7979;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 20px;
}

.page-content p {
  color: #fff;
  margin-bottom: 20px;
}

.page-content a {
  display: inline-block;
  text-decoration: none;
  color: #ff7979;
  border: 2px solid #ff7979;
  text-transform: uppercase;
  padding: 10px 20px;
  transition: 0.4s linear;
}

.page-content a:hover {
  color: #fff;
  background: #ff7979;
}

.text {
  padding: 10px;
  text-align: center;
  color: #ff7979;
}

.text div {
  margin-bottom: 6px;
}

::-webkit-scrollbar {
  width: 12px;
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(#000 20%, #ff7979 80%);
  border-radius: 6px;
  border: 2px outset #ff7979;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(#000 20%, #ff7979 80%);
}

.LearnReact {
  color: aquamarine;
  position: absolute;
  animation: MoveUpDown 5s linear infinite;
}

@keyframes MoveUpDown {
  0%,
  100% {
    bottom: 0%;
  }
  50% {
    bottom: 100%;
  }
}
